name: Deploy

on:
  workflow_call:
    inputs:
      supabase:
        type: string
        required: true
      digitalocean:
        type: string
        required: true
      client_tag:
        description: "Client Image tag to deploy"
        type: string
        required: true
        default: ${{ github.ref_name }}
      server_tag:
        description: "Server Image tag to deploy"
        type: string
        required: true
        default: ${{ github.ref_name }}
  workflow_dispatch:
    inputs:
      supabase:
        description: "Supabase env. to deploy"
        type: choice
        options:
          - production
        required: true
      digitalocean:
        description: "Digital Ocean env. to deploy"
        type: choice
        options:
          - production
        required: true
      client_tag:
        description: "Client Image tag to deploy"
        type: string
        required: true
        default: latest
      server_tag:
        description: "Server Image tag to deploy"
        type: string
        required: true
        default: latest

jobs:
  supabase:
    uses: ./.github/workflows/deploy-supabase.yml
    secrets: inherit
    with:
      environment: ${{ inputs.supabase }}

  digital-ocean:
    needs:
      - supabase
    uses: ./.github/workflows/deploy-digital-ocean.yml
    secrets: inherit
    with:
      environment: ${{ inputs.digitalocean }}
      client_tag: ${{ inputs.client_tag }}
      server_tag: ${{ inputs.server_tag }}

